{% extends 'blog/base.html' %}

{% block body_block %}
  <div class="jumbotron">
    <h2>Please Login: </h2>
    <h3>(Must be a Superuser, Check with Admin)</h3>

    {% if form.errors %}
      <p>Your username and password didnt match! Please try again</p>
    {% endif %}

    <form class="" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Login">
      <input type="hidden" name="next" value="{{ next }}">
    </form>


  </div>



{% endblock %}
